/*
Theme Name:     About us - Press room
Theme URI:      http://www.nationalarchives.gov.uk/
Author:         The National Archives
Author URI:     http://www.nationalarchives.gov.uk/
Description:    This should be used when creating new child themes for TNA
Template:       tna
Version:        0.1
License:        GNU General Public License
License URI:    license.txt
Text Domain:    tna
*/
